body{
    background-color: #FFFFFF;
    margin: 0 0;

    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}


.login-container{
    height: 60vh;
    display: flex;
    
    flex-direction: column;
    /* background-color: black; */
    justify-content: center;
    align-items: center;
}


.login-container button{
    width:70%;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}

.login-container button:hover{
    background-color: greenyellow;
}

.login-form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: rgb(234, 190, 216);

    justify-content: center;
    align-items: center;
    border: 1px solid rgb(234, 190, 216);
    border-radius: 10px;
}

label{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    width: 100%;
    border: none;
    border-radius: 2px;
}
input:focus{
    outline: none;
    border: none ;
}

select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    outline: none;
    border: none;
}




nav {
    width: 100%;
}
nav ul{
    display: flex;
    list-style: none;

}

nav ul li{
    margin: 20px;
    
}

nav ul li a{
    text-decoration: none;
    color: black;

}


.login-form textarea{
    border: none;
    width: 400px;
    height: 80px;
    border-radius: 5px;
    outline: none;
}

.login-form textarea:focus{
    outline: none;
    border:none;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed; */
    /* z-index: 1; */
    /* background-color: #FFFFFF; */
}

nav li{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

nav li span{
    
   
    margin-right: 10px;
}


.list-container{
    margin: 0 200px;
}



.job-container li{
    display: flex;
    background-color: rgb(234, 190, 216);
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    border-radius: 10px;
    
}

.time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.job-container h2{
    color:white;
}

.job-container .user{
    color:white;
}


.job-box-apply{
    display: flex;
    justify-content: space-between;
}

.job-box-apply button{
    background-color: yellow;
    border: none;
    height: 30px;
    border-radius: 10px;
    margin: 2px;
}